.mini-gojo {
    filter: drop-shadow(0 0 6px rgba(4, 238, 255, 0.8)) 
    drop-shadow(0 0 12px rgba(69, 114, 238, 0.8))
    drop-shadow(0 0 18px rgb(0, 21, 139));
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 150px;
    margin-bottom: 50px;
    padding-top: 20px;
}

.mini-gojo {
    position: relative;
    left: 1700px;
    top: -250px;
    width: 150px;
    height: auto;
    border-radius: 10px;
}


.about h1 {
    color: white;
    position: relative;
    top: -400px;
    left: 370px;
    font-size: 40px;
    margin: 0;
    text-align: center;
    font-family: Arial, sans-serif;
    width: 100%;
    z-index: 1;
}

.projetos-container {
    position: relative;
    top: 320px;
    right: 500px;
    display: flex;
    justify-content: center;
    background-color: #f0f0f0; 
    padding: 20px;
    border-radius: 20px;
    margin: 0 auto; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%; 
}

.projeto {
    text-align: center;
    margin: 10px;
}

.projeto-img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.projeto h1 {
    font-size: 18px;
    margin-top: 10px;
    color: #333;
    font-family: Arial, sans-serif;
}
