body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 1); 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .star {
    position: absolute;
    width: 5px; 
    height: 5px;
    background: white;
    border-radius: 50%; 
    opacity: 0; 
    animation: blink 5s infinite alternate; 
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }



  
  